.card {
    height: 100px;
    width: 100%;
    padding: 24px;

    background: #735bf2;
    color: #ffffff;

    border-radius: 10px;
    border-bottom: 3px solid #543ad3;
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    transition: filter .2s;

    &:hover {
        filter: brightness(.9);
    }

    & strong {
        font-size: 18px;
    }
}